---
import { CONFIG, markdownify } from '@/shared';
import { Image } from 'astro:assets';

const { whatsappLink } = CONFIG;
const { callToAction } = Astro.props;
---

<section class="section px-4">
    <div class="section container rounded-xl shadow py-4">
        <div class="row mx-auto items-center justify-around">
            <div class="md:col-4 lg:col-3">
                <Image class="w-full" src={callToAction?.image} alt="call to action image" width={300} height={206} />
            </div>
            <div class="mt-5 text-center md:mt-0 md:text-left md:col-6 lg:col-6">
                <h2>{callToAction?.title}</h2>
                <p class="mt-6" set:html={markdownify(callToAction?.content)} />
                {
                    callToAction.button.enable && (
                        <a class="btn btn-primary mt-4" href={whatsappLink} target="_blank">
                            {callToAction.button.label}
                        </a>
                    )
                }
            </div>
        </div>
    </div>
</section>
